$sans-serif: Montserrat,sans-serif;
$sans-serif-bold: MontserratBold, sans-serif;

$title-font-size: 18px;
$headline-font-size: 18px;
$sub-headline-font-size: 16px;
$base-font-size: 12px;
$small-font-size: 10px;

$basecolor: #8c45b0;
$greyColor: #b5b5b5;
$bodyColor: #666;

$baseline: 25px;
$base-line-height: ($baseline/$base-font-size);


/* Headings */

$h1: 38px;

$h2: 18px;

$h3: 24px;

$h4: 10px;

$h5: 14px;

$boldWeight: 700;
$normWeight: 300;
