

<header class="white-transparent site-header">
  <div class="wrapper">

    <h1 class="logo">
      <a href="/">OpenRooms</a>
    </h1>

    <nav class="options-nav">
      <ul>
        <li class="search">
          <a href="#">
            <i class="fa fa-search"></i>
          </a>
         <ul class="full">
           <li>
            <%= render :partial => '/rooms/search' %>
           </li>
         </ul>
        </li>
        <li class="add-room">
          <a data-reveal-id="my-modal" href="#">
            <i class="fa fa-plus"></i>
          </a>
        </li>

        <li>
          <%= link_to 'Recent', rooms_recent_path() %>
        </li>

        <li>
          <%= link_to 'Popular', rooms_popular_path() %>
        </li>

      </ul>
    </nav>

</div>

<div id="my-modal" class="reveal-modal full-modal">
  <div class="row" id="add-rooms-container">
    <div class="twelve columns" style="text-align: center;">
      <%= render :partial => '/rooms/form' %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns" style="text-align: center;">
      <a class="close-reveal-modal close-full-modal">×</a>
    </div>
  </div>
</div>


</header>
