

<header class="white-transparent site-header">
  <div class="wrapper">

    <h1 class="logo">
      <a href="/">OpenRooms</a>
    </h1>

    <nav class="options-nav">
      <ul>
        <li>
          <a href="#">
            <i class="fa fa-search"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-plus"></i>
          </a>
        </li>

        <li>
          <%= link_to 'Recent', rooms_recent_path() %>
        </li>

        <li>
          <%= link_to 'Popular', rooms_popular_path() %>
        </li>

      </ul>
    </nav>

</div>
</header>
