<header>
  <div class="contain-to-grid sticky">

    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
      <ul>
        <li><i class="fa fa-plus"></i></li>
      </ul>
    </nav>
  </div>
</header>

