<ul class="room-listing">
  <% @rooms.each do |room| %>
  <li>
    <%= image_tag room.room_image %>
    <h4 class="room-title"><%= room.title %></h4>


    <ul class="room-save">
      <li class="like-room">
        <a href="#"><i class="fa fa-heart"></i></a>
      </li>
      <li class="save-room">
        <a target="_blank" href="<%=room.room_image %>" download="#{room.room_image}"><i class="fa fa-download"></i></a>
      </li>
    </ul>
  </li>
  <% end %>
  </ul>
</ul>



<%= link_to 'New Room', new_room_path %>





