jQuery ->
  $('body').prepend('<div id="fb-root"></div>')

  $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: true


window.fbAsyncInit = ->
  FB.init(appId: '<%= ENV["FACEBOOK_APP_ID"] %>', cookie: true)

  $('#sign_in').click (e) ->
    e.preventDefault()
    debugger
    FB.login (response) ->
      window.location = '/auth/facebook/callback' if response.authResponse

  $('#sign_out').click (e) ->
    FB.getLoginStatus (response) ->
      FB.logout() if response.authResponse
    true




# This is called with the results from from FB.getLoginStatus().
statusChangeCallback = (response) ->
  console.log "statusChangeCallback"
  console.log response
  
  # The response object is returned with a status field that lets the
  # app know the current login status of the person.
  # Full docs on the response object can be found in the documentation
  # for FB.getLoginStatus().
  if response.status is "connected"
    
    # Logged into your app and Facebook.
    testAPI()
  else if response.status is "not_authorized"
    
    # The person is logged into Facebook, but not your app.
    document.getElementById("status").innerHTML = "Please log " + "into this app."
  else
    
    # The person is not logged into Facebook, so we're not sure if
    # they are logged into this app or not.
    document.getElementById("status").innerHTML = "Please log " + "into Facebook."
  return

# This function is called when someone finishes with the Login
# Button.  See the onlogin handler attached to it in the sample
# code below.
checkLoginState = ->
  FB.getLoginStatus (response) ->
    statusChangeCallback response
    return

  return
# enable cookies to allow the server to access 
# the session
# parse social plugins on this page
# use version 2.1

# Now that we've initialized the JavaScript SDK, we call 
# FB.getLoginStatus().  This function gets the state of the
# person visiting this page and can return one of three states to
# the callback you provide.  They can be:
#
# 1. Logged into your app ('connected')
# 2. Logged into Facebook, but not your app ('not_authorized')
# 3. Not logged into Facebook and can't tell if they are logged into
#    your app or not.
#
# These three cases are handled in the callback function.

# Load the SDK asynchronously

# Here we run a very simple test of the Graph API after login is
# successful.  See statusChangeCallback() for when this call is made.
testAPI = ->
  console.log "Welcome!  Fetching your information.... "
  FB.api "/me", (response) ->
    console.log "Successful login for: " + response.name
    document.getElementById("status").innerHTML = "Thanks for logging in, " + response.name + "!"
    return

  return
window.fbAsyncInit = ->
  FB.init
    appId: "301508963380836"
    cookie: true
    xfbml: true
    version: "v2.1"

  FB.getLoginStatus (response) ->
    statusChangeCallback response
    return

  return

((d, s, id) ->
  js = undefined
  fjs = d.getElementsByTagName(s)[0]
  return  if d.getElementById(id)
  js = d.createElement(s)
  js.id = id
  js.src = "//connect.facebook.net/en_US/sdk.js"
  fjs.parentNode.insertBefore js, fjs
  return
) document, "script", "facebook-jssdk"
