@import "globals/all";
body, html
{
  height: 100%;
}

body {
  font-family: $sans-serif;
}

h1, h2,h3,h4,h5 {
  font-family: $sans-serif;
}


li {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.contentContainer {
  padding-top: 100px
}

.full {
  width: 100%;
}
/* Overwrites */

.full-modal
{
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  height: 100% !important;
  top: 0px !important;
  left: 0px !important;
  margin: 0px 0px 0px 0px !important;
  width: 100% !important;
}
.close-full-modal
{
  position: fixed !important;
  top: 5px !important;
  right: 5px !important;
}

.white-transparent {
  background: rgba(255,255,255, 0.8);
}

.transparent {
  background: transparent;
}
